body, h1, h2, p, form {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; 
    display : flex;
    justify-content : center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.upload-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.upload-form input[type="file"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.predict-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 18px;
}

.predict-button:hover {
    background-color: #0056b3;
}

.result {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.restart-button {
    margin-left: 18px;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.restart-button:hover {
    background-color: #c0392b;
}

